<app-header [titulo]="'Card'"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>
        Marcador
      </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laudantium quos totam earum eaque nulla
      voluptatibus quidem, ipsa iusto ullam omnis nisi voluptatum aspernatur commodi distinctio vero quia rem animi.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus unde vitae iure est sunt provident, sapiente
      ad enim asperiores quos ratione dolores, esse, quisquam optio laborum corrupti quam amet nemo?
    </ion-card-content>
  </ion-card>
</ion-content>